Checks: "*,
        -llvm*,
        -fuchsia*,
        -google-readability-avoid-underscore-in-googletest-name,
        -readability-redundant-access-specifiers,
        -readability-named-parameter,
        -hicpp-named-parameter,
        -readability-magic-numbers,
        -hicpp-special-member-functions,
        -hicpp-explicit-conversions,
        -altera-unroll-loops"
FormatStyle: none
WarningsAsErrors: "*"
