Checks: "*,
        -llvm*,
        -fuchsia*,
        -google-readability-avoid-underscore-in-googletest-name,
        -readability-redundant-access-specifiers,
        -readability-named-parameter,
        -hicpp-named-parameter,
        -readability-magic-numbers"
FormatStyle: none
WarningsAsErrors: "*"
