---
BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
---
Language: Cpp
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<swiss.*>'
    Priority: 1
    SortPriority: 1
  - Regex: '^<.*>'
    Priority: 2
    SortPriority: 2
  - Regex: '.*'
    Priority: 3
    SortPriority: 3
IncludeIsMainRegex: "(_test|_benchmark)?$"
QualifierAlignment: Right
ReferenceAlignment: Middle
PointerAlignment: Middle
DerivePointerAlignment: false
